/Unity/.vs/fluid-troll-bridge/v15/.suo
/Unity/.vs/fluid-troll-bridge/v15/Server/sqlite3/db.lock
/Unity/.vs/fluid-troll-bridge/v15/Server/sqlite3/storage.ide
/Unity/.vs/fluid-troll-bridge/v15/Server/sqlite3/storage.ide-shm
/Unity/.vs/fluid-troll-bridge/v15/Server/sqlite3/storage.ide-wal
